.home-header{
    position: relative;
    z-index: 10;
    text-align: center;

    a{
        text-decoration: none;
    }
    img{
        display: block;
        max-width: 420px;
        margin: 0 auto 10px;
    }
    .header-sub{
        display: inline;
        font-family: times;
        font-size: 11px;
        color: $brand-brown;
        border-top: 2px solid $brand-green;
        border-bottom: 2px solid $brand-green;
    }
    @include media-breakpoint-up(md) {
        margin: 10px auto 40px;
        .header-sub{
            font-size: 1rem;
            border-top: 3px solid $brand-green;
            border-bottom: 3px solid $brand-green;
        }
    }
    @include media-breakpoint-down(xs) {
        img{
            margin: 10px 0 10px 40px;
            max-height: 30px;
            width: auto;
        }
    }
    @include media-breakpoint-down(md) {
        .header-sub{
            font-size: 2.8vw;

        }
    }
    @include media-breakpoint-up(lg) {
        #header-logo{
            max-width: 500px;
            margin: 0 auto;
        }
    }

}
@include media-breakpoint-down(xs) {
    .container-header{
        padding-bottom: 70px;
    }
    .home-header{
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 55px;
        padding-left: 55px;
        background-color: rgba(#bef2ce, 0.4);
        #header-logo{
            img{
                margin: 0 auto;
                height: 30px;
            }
            .header-sub{
                position: relative;
                bottom: 5px;
            }

        }
    }
}
