/* MOBILE NAVIGATION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu-fixed-left{
    display: none;
}

nav a {
    text-decoration: none;
}
@include media-breakpoint-down(md) {
    .menu-collapsed {
        -webkit-transition: all .25s;
        transition: all .25s;
        position: fixed;
        top: 10px;
        left: 9px;
        height: 36px;
        width: 36px;
        z-index: 999;
        //cursor: pointer;
    }
    .menu-collapsed ul,  .menu-collapsed .lang-toggle{
        -webkit-transition: all .05s;
        transition: all .05s;
        position: fixed;
        left: -9000px;
    }
    .hamburger{
        width: 50px;
        height: 50px;
    }
    .bar {
        position: fixed;
        left: 12px;
        top: 24px;
        height: 5px;
        width: 30px;
        background-color: #5d3836;
    }

    .bar:before {
        -webkit-transition: all .25s;
        transition: all .25s;
        content: "";
        position: absolute;
        left: 0;
        top: -8px;
        height: 5px;
        width: 30px;
        background-color: #5d3836;
    }

    .bar:after {
        -webkit-transition: all .25s;
        transition: all .25s;
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        height: 5px;
        width: 30px;
        background-color: #5d3836;
    }

    .menu-expanded {
        -webkit-transition: all .25s;
        transition: all .25s;
        text-align: center;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.95);
        overflow-x: auto;
        
    }

    .menu-expanded ul, .menu-expanded .lang-toggle {
        margin: 0 auto;
        max-width: 75%;
        -webkit-transition: all .05s;
        transition: all .05s;
        position: relative;
        left: 0;
        top: 0;
        padding: 0;
        z-index: 2;
    }
    .menu-expanded .lang-toggle{
        position: absolute;
        top: 15px;
        left: 50%;
        margin-left: -65px;

    }
    .menu-expanded li {
        list-style: none;
        border-bottom: 1px solid $brand-green;
    }

    .menu-expanded a {
        -webkit-transition: all .15s;
        transition: all .15s;
        text-decoration: none;
        color: $brand-brown;
        font-size: 1.25rem;
        line-height: 2.5rem;
    }

    .menu-expanded a:hover {
        -webkit-transition: all .15s;
        transition: all .15s;
        border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    }

    .menu-expanded .bar {
        background-color: transparent;
        -webkit-transition: all .25s;
        transition: all .25s;
    }

    .menu-expanded .bar:before {
        -webkit-transition: all .25s;
        transition: all .25s;
        content: "";
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -0px;
    }

    .menu-expanded .bar:after {
        -webkit-transition: all .25s;
        transition: all .25s;
        content: "";
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0px;
    }
    // .menu-expanded ul.sub-nav{
    //     position: static;
    //     margin-left: 15px;
    // }
    // .menu-expanded ul.sub-nav{
    //     transition: all .5s ease-out;
    //     overflow: hidden;
    //     max-height: 0;
    //     margin-bottom: 15px;
    //     li a{
    //         font-size: 14px;
    //         line-height: 20px;
    //         padding: 2px 0 2px 0;
    //     }
    // }
    // .menu-expanded ul.sub-nav{
    //     max-height: 200px;
    // }
    nav li:hover .sub-nav{
        display: block;
        margin: 0 auto;
        max-height: 140px;
        max-width: 70%;
        left: 0;
        top: 0;
        margin-bottom: 10px;
    }
    ul.sub-nav{
        transition: all .5s ease;
        overflow: hidden;
        max-height: 0;

        li{
            border-bottom: 0;
            border-top: 1px solid $brand-green;
            a{
                font-size: 12px;
                line-height: 20px;
                padding: 0;
                &:hover{
                    border-bottom: 2px solid $brand-green;
                    border-top:  2px solid $brand-green;
                }
            }
        }

    }

}
