/* DESKTOP
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@include media-breakpoint-up(lg) {

    .menu-fullscreen {
        display: none;
    }
    .menu-fixed-left {
        background-color: white;
        display: block;
        position: fixed;
        height: 100%;
        width: 220px;
        z-index: 2;
        box-shadow: 3px 0px 10px 0px #c2c2c2;
    }
    .menu-fixed-left .logo-bar {
        display: inline-block;
        position: absolute;
        top: 0px;
        height: 100%;
        width: 25px;
    }
    .menu-fixed-left .logo-bar img{
        display: block;
        position: relative;
        top: 8%;
        margin: 0 auto;
        width: 20px;
    }
    .menu-fixed-left .green-bar {
        background-color: $brand-green;
        left: 0;
    }
    .menu-fixed-left .brown-bar {
        background-color: $brand-brown;
        left: 25px;
    }
    .menu-fixed-left nav {
        position: fixed;
        top: 10%;
        left: 60px;
    }
    .menu-fixed-left nav ul{
        padding: 0;
    }
    .menu-fixed-left nav li {
        list-style: none;
    }
    .menu-fixed-left nav a {
        text-decoration: none;
        color: $brand-brown;
        font-size: 14px;
        line-height: 2.5rem;
        padding: 3px 0 3px 0;
    }

    .menu-fixed-left nav a:hover {
        transition: all .15s;
        border-bottom: 3px solid $brand-green;
        border-top:  3px solid $brand-green;
    }
    .menu-fixed-left nav a:active {
        transition: all .15s;
        color: $brand-green;
        border-bottom: 3px solid $brand-green;
        border-top:  3px solid $brand-green;
    }
    .menu-fixed-left{
        nav li:hover .sub-nav{
            display: block;
            max-height: 140px;
        }
        ul.sub-nav{
            transition: all .5s ease;
            margin-left: 3px;
            overflow: hidden;
            max-height: 0;
            li a{
                font-size: 12px;
                line-height: 20px;
                padding: 0;
                &:hover{
                    border-bottom: 2px solid $brand-green;
                    border-top:  2px solid $brand-green;
                }
            }
        }
    }

}
