.bkg-img-azienda{
    background-image: url(../img/photo/azienda-full-03.jpg);
    background-size: cover;
    background-position: center;
    height: 220px;
    width: 100%;
    margin-top: -71px;
    margin-bottom: 16px;
}
@include media-breakpoint-up(sm) {
    .bkg-img-azienda{
        height: 350px;
        margin-top: -95px;
        margin-bottom: 40px;
    }
}
@include media-breakpoint-up(md) {
    .bkg-img-azienda{
        height: 470px;
        margin-top: -165px;
    }
}
@include media-breakpoint-up(xl) {
    .bkg-img-azienda{
        height: 620px;
        margin-top: -210px;
    }
}
