<section class="banner-cta fixed-bottom d-flex flex-row justify-content-center">
  <div class="d-flex flex-row justify-content-center align-items-center bg-white p-2 pt-4 p-lg-4 position-relative shadow">
    <button
      type="button"
      class="btn-close position-absolute top-0 end-0 p-2 p-lg-3"
      aria-label="Close"></button>
    <div class="p-3 me-lg-4 d-none d-md-block">
      <img
        class="rombo"
        src="/assets/img/rombo.svg"
        alt="rombo logo"
        width="30">
    </div>
    <div class="text-center">
      <div class="mb-2">
        <small class=" fst-italic">
          {% if page.url contains '/en/' %}
            {{ site.banner_cta_en_1 }}
          {% else %}
            {{ site.banner_cta_it_1 }}
          {% endif %}
        </small>
      </div>
      <a
        class="btn btn-primary text-white btn-sm"
        href="mailto: grossoantonio2.0srl@grossoantonio.it"
        role="button"
        target="_blank">grossoantonio2.0srl@grossoantonio.it</a>
      <div class="mt-2">
        <small class=" fst-italic">
          {% if page.url contains '/en/' %}
            {{ site.banner_cta_en_2 }}
          {% else %}
            {{ site.banner_cta_it_2 }}
          {% endif %}
        </small>
      </div>
    </div>
    <div class="p-3 ms-lg-4 d-none d-md-block">
      <img
        class="icon-support"
        src="/assets/img/icon-support.svg"
        alt="icon support"
        width="50">
    </div>
  </div>
</section>