<div class="container-app">
    <div class="elements-wrap">
        <div class="element-img"></div>
        <div class="controls-wrap">
            <div class="el-select select-cat">
                <section class="white-bkg">
                    <h3 class="icon-angle-right">Effetti</h3>
                    <ul>
                    </ul>
                </section>
            </div>
            <div class="el-select select-cyl">
                <section class="white-bkg">
                    <h3 class="icon-angle-right">Cod Cilindro</h3>
                    <ul>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>
