<div class="container">
    <section class="white-bkg">
        <div class="row ">
            <div class="col-sm-12">
                <div class="text-container">
                    <h1 class="title-product">Feltri per stampare</h1>
                    <p>
                        La nostra azienda è in grado di fornire feltri per la lavorazione del pellame per l’industria conciaria.
                    </p>

                    <p>
                        I feltri vengono utilizzati per lo stampaggio delle pelli; sono lastre in lana al 100% e si possono
                        avere in diverse grandezze, densità e spessore a seconda delle esigenze del Cliente.
                    </p>
                    <p>
                        Nel nostro magazzino abbiamo sempre la disponibilità immediata di lastre di misure standard,
                        questo per poter offrire e garantire ai nostri Clienti un servizio efficiente nelle consegne.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="slider-auto slider-margin25">
                    <img class="img-fluid" src="assets/img/photo/feltro-bianco-1.jpg" alt="feltro bianco 1" />
                    <img class="img-fluid" src="assets/img/photo/feltro-bianco-2.jpg" alt="feltro bianco 2" />
                </div>
            </div>
        </div>

    </section>
    <section class="white-bkg">
        <div class="row ">
            <div class="col-sm-12">
                <div class="text-container">
                    <h3 class="title-small">Feltro Silon</h3>
                    <p>
                        Utilizzato per stampare con tavole e feltri non uniformi
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="slider-auto slider-margin25">
                    <img class="img-fluid" src="assets/img/photo/feltro-silon-1.jpg" alt="feltro silon 1" />
                    <img class="img-fluid" src="assets/img/photo/feltro-silon-5.jpg" alt="feltro silon 2" />
                    <img class="img-fluid" src="assets/img/photo/feltro-silon-3.jpg" alt="feltro silon 3" />
                </div>
            </div>
        </div>
    </section>
</div>
