<div class="container">
    <section class="white-bkg">
        <div class="row">
            <div class="col-md-6">
                <img class=" img-fluid m-t-2" src="assets/img/photo/pedana-1.jpg" alt="" />
            </div>
            <div class="col-md-6">
                <div class="text-container margin-left-0">
                    <h4 class="title-product title-small">Pedane di sollevamento</h4>
                    <p>Disponiamo di una vasta gamma di piattaforme elevatrici che rappresentano una soluzione ottimale
                        a molteplici esigenze di movimentazione verticale nel processo produttivo.
                    </p>

                    <p>
                        Le padane di sollevamento possono essere utilizzate in vari modi nel settore conciario e della
                        calzatura; possono fare da base di appoggio per la scelta del pellame, per la sforbiciatura, per il
                        controllo qualità e per operare al giusto livello in modo da rendere più confortevole la postazione di
                        lavoro. In questa maniera si incrementa l‘efficienza e la produttività nel processo di lavorazione .
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="white-bkg">
        <div class="row">
            <div class="col-sm-4">
                <img class=" img-fluid" src="https://unsplash.it/400/300" alt="" />
            </div>
            <div class="col-sm-8">
                <div class="text-container">
                    <p>
                        Esistono piattaforme ad uno o più pantografi, in grado di arrivare ad altezze elevate e collegare cosi
                        piani diversi. Le piattaforme sono facilmente trasportabili, hanno un ingombro ridotto, non
                        necessitano di nessun tipo di alloggiamento nella pavimentazione e sono quindi pronte all’uso.
                    </p>
                    <p>
                        Possiamo effettuare, su richiesta del Cliente, soluzioni ottimali e sollevatori con misure
                        personalizzate per adattare le piattaforme ad esigenze particolari nel processo di produzione.
                     </p>
                </div>
            </div>
        </div>
    </section>
</div>
