<div class="container">
    <section class="white-bkg">
        <div class="row">
            <div class="col-xs-12">
                    <div class="slider-auto">
                            <img class=" img-fluid" src="/assets/img/photo/azienda-1.jpg" alt="" />
                            <img class=" img-fluid" src="/assets/img/photo/azienda-2.jpg" alt="" />
                            <img class=" img-fluid" src="/assets/img/photo/azienda-3.jpg" alt="" />
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="text-container">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris accumsan cursus purus vel elementum.
                        Mauris porta velit laoreet tristique gravida. Cras nec orci at felis eleifend aliquam non quis lacus.
                        Etiam vitae congue ligula. Donec sagittis quis lorem eget elementum. In tempus congue elit vitae accumsan.
                        Nunc elit magna, ultricies nec lacus sed, auctor dignissim lectus. Nullam euismod molestie aliquam.
                        Donec vitae enim a nisi consequat elementum non vel nunc. Nunc in tincidunt massa, ac efficitur sem. Aenean ut tempor urna.</p>
                </div>

            </div>
        </div>
    </section>
    <section class="white-bkg">
        <div class="row">
            <div class="col-sm-6">
                <div class="text-container">
                    <h4>Par 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris accumsan cursus purus vel elementum. Mauris porta velit laoreet tristique gravida.
                        Cras nec orci at felis eleifend aliquam non quis lacus. Etiam vitae congue ligula. Donec sagittis quis lorem eget elementum.
                        In tempus congue elit vitae accumsan. Nultricies nec lacus sed, auctor dignissim lectus. </p>
                </div>
            </div>
            <div class="col-sm-6">
                    <img class=" img-fluid" src="https://unsplash.it/600/280" alt="" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <img class=" img-fluid" src="https://unsplash.it/400/300" alt="" />
            </div>
            <div class="col-sm-8">
                <h4>Par 2</h4>
                <p>Ut suscipit vestibulum lorem ac varius. Ut luctus aliquam leo, et volutpat nulla sollicitudin quis.
                    Quisque sit amet libero at justo sagittis hendrerit quis vel leo. In aliquam leo eu mattis eleifend.
                    Proin elementum sodales aliquet. Praesent lobortis sollicitudin ligula non aliquam. Curabitur nec est et sapien luctus iaculis quis in nisi. A
                    liquam pulvinar dui justo, ac gravida libero laoreet a. Quisque vitae felis eu leo porttitor efficitur. Proin a facilisis leo, non luctus lacus.
                    Vestibulum ex massa, consectetur ut lacus at, congue suscipit mi.</p>
            </div>
        </div>
    </section>

</div>
