<div class="container">
    <section class="white-bkg">
        <div class="row ">
            <div class="col-sm-12">
                <div class="text-container">
                    <h1 class="title-product">Manicotto per Tamponatrici</h1>
                    <p>
                        Tappeto per macchina tamponatrice in silicone: antisolvente e antiolio, idoneo anche alla lavorazione di pellami con spessori non uniformi.
                    </p>
                    <div class="specs-wrap">
                        <div class="specs-head">
                            Idoneo per Tamponatrici
                        </div>
                        <div class="spec">
                            Gemata, Rollmac, Incoma, 3P
                        </div>
                        <div class="specs-head">
                            Macchine con luce lavoro
                        </div>
                        <div class="spec">
                            1800-2200mm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="slider-auto  slider-margin25 slider-bkg-green">
                    <img class="img-fluid" src="assets/img/photo/manicotto-1.png" alt="manicotto 1" />
                    <img class="img-fluid" src="assets/img/photo/manicotto-3.jpg" alt="manicotto 2" />
                    <img class="img-fluid" src="assets/img/photo/manicotto-2.png" alt="manicotto 3" />
                </div>
            </div>
        </div>
    </section>
</div>
