<div class="container">
    <section class="white-bkg">
        <div class="row ">
            <div class="col-sm-12">
                <div class="text-container">
                    <h1 class="title-product">Macchinari per conceria usati</h1>
                    <p>
                        Su richiesta del Cliente siamo in grado di offrire macchinari usati per il settore conciario, di ogni marca e
                        modello, idonei alla lavorazione delle pelli nelle varie fasi del processo produttivo.
                    </p>
                    <p>
                        Possiamo fornire il macchinario usato, visto e piaciuto nelle condizioni in cui si trova, oppure
                        completamente revisionato con sostituzione delle parti meccaniche, elettriche e di normale usura;
                        riverniciato a nuovo.
                    </p>
                    <p>
                        Di seguito i macchinari usati, attualmente disponibili a magazzino.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container-fluid container-cards">
    <div class="row">
        <div class="col-ul-4  col-md-6 col-sm-12">
            <div class="card">
                <div class="slider">
                    <img class="card-img-top img-fluid" src="assets/img/usato/usato-tamponatrice-1.jpg" alt="tamponatrice gemata usata" />
                </div>

                <div class="card-block">
                    <h4 class="card-title">Tamponatrice Gemata</h4>
                    <p>
                        Modello: EASY COAT<br>
                        Luce lavoro: MM 1800
                    </p>
                </div>
            </div>
        </div>
        <div class="col-ul-4  col-md-6 col-sm-12">
            <div class="card">
                <div class="slider">
                    <img class="card-img-top img-fluid" src="assets/img/usato/stiratrice-mostardini-1.jpg" alt="stiratrice mostardini usata" />
                    <img class="card-img-top img-fluid" src="assets/img/usato/stiratrice-mostardini-2.jpg" alt="stiratrice mostardini usata" />
                </div>

                <div class="card-block">
                    <h4 class="card-title">Stiratrice Mostardini</h4>
                    <p>
                        Luce lavoro: MM 2600
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
