<div class="container">
    <section class="white-bkg">
        <div class="row ">
            <div class="col-sm-12">
                <div class="text-container">
                    <h1 class="title-product">Cilindri Fotoincisi</h1>
                    <p>
                        La nostra Azienda è in grado di fornire cilindri incisi a disegno utilizzati per la rifinizione del pellame.
                        Questi cilindri, montati su macchine Tamponatrici, riproducono effetti oppure disegni sulle pelli.
                        I cilindri vengono incisi con macchinari all’ avanguardia e di altissima precisione e questo ci
                        permette di garantire alta qualità del prodotto e sempre nuove soluzioni per soddisfare a pieno le
                        esigenze produttive dei nostri Clienti.
                    </p>

                    <p>
                        Disponiamo di un vasto <a href="catalogo-cilindri.html">catalogo</a> di disegni ed inoltre possiamo effettuare, su richiesta del Cliente,
                        disegni personalizzati (con possibilità di esclusiva).
                    </p>
                    <p>
                        Siamo continuamente alla ricerca di nuove proposte in modo da poter stare al passo con il mercato
                        attuale che è sempre in continua evoluzione.
                    </p>
                    <p>
                        Operiamo su tutto il territorio nazionale e mondiale con esperienza e professionalità, pronti a
                        soddisfare qualsiasi esigenza d'acquisto e di consegna in tempi sempre più rapidi grazie ad
                        un'ottima organizzazione aziendale.
                    </p>
                        <span class="title-xs"><a href="catalogo-cilindri.html">Visita il nostro catalogo</a></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="img-margin25">
                    <img class="img-fluid" src="assets/img/photo/cilindri-1.jpg" alt="cilindro inciso" />
                </div>
            </div>
        </div>
    </section>
</div>
