<div class="container">
    <section class="white-bkg">
        <div class="row ">
            <div class="col-sm-12">
                <div class="text-container">
                    <h1 class="title-product">Pezzi di ricambio</h1>
                    <p>
                        Forniamo pezzi di ricambio, parti meccaniche, elettriche ed elettroniche per qualsiasi tipo di macchinario
                        per conceria o inerente al settore della lavorazione della pelle, garantendo qualità, idoneità ed un servizio
                        di consegna efficiente e veloce.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="img-margin25">
                    <img class="img-fluid" src="assets/img/photo/rullo-agata-1.jpg" alt="rullo in agata" />
                </div>
            </div>
        </div>
    </section>
</div>
