<div class="container">
    <section class="white-bkg">
        <div class="row">
            <div class="col-md-6">
                <div class="slider-auto slider-margin25">
                    <img class=" img-fluid" src="assets/img/photo/carta-2.jpg" alt="" />
                    <img class=" img-fluid" src="assets/img/photo/carta-1.jpg" alt="" />
                    <img class=" img-fluid" src="assets/img/photo/carta-3.jpg" alt="" />
                    <img class=" img-fluid" src="assets/img/photo/carta-4.jpg" alt="" />
                    <img class=" img-fluid" src="assets/img/photo/carta-5.jpg" alt="" />
                </div>
                <div class="row specs-wrap specs-wrap-left">
                    <div class="col-xs-5">
                        <div class="specs-head">
                            Modello
                        </div>
                        <div class="item">
                            KP80E
                        </div>
                        <div class="item">
                            KP43E
                        </div>
                        <div class="item">
                            KP20F
                        </div>
                        <div class="item">
                            KT62X
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="specs-head">
                            Altezze disponibili
                        </div>
                        <div class="spec">
                            610mm, 330mm 255mm
                        </div>
                        <div class="spec">
                            610mm, 330mm 255mm
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="side-description text-container">
                    <div class="awuko-logo">
                        <img class="img-fluid" src="assets/img/awuko_logo.png" alt="" />
                        <span class="logo-label">Esclusivista con deposito</span>
                    </div>
                    <h1 class="title-product title-small">Carta Smeriglio AWUKO</h1>
                    <p>
                        Siamo i distributori del Centro Italia della Carta Smeriglio per conceria marca AWUKO. Forniamo carta originale, prodotta e confezionata,
                        per il settore conciario, dalla ditta Wandmacher GmbH & Co. (Germany), proprietaria del marchio Awuko.
                    </p>

                    <p>
                        Saremo lieti di offrirvi la nostra esperienza e collaborazione per ogni eventuale vostro tipo di esigenza, garantendo qualità e
                        puntualità nelle forniture grazie alla disponibilità di carta smeriglio di qualsiasi tipologia presso il nostro magazzino.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
