<div class="container">
    <section class="white-bkg">
        <div class="row ">
            <div class="col-sm-12">
                <div class="text-container">
                    <h1 class="title-product">Tappeto per Dinavac</h1>
                    <p>
                        Tappeto per Dinavac (descrizione)
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="slider-auto  slider-margin25 slider-bkg-green">
                    <img class="img-fluid" src="assets/img/photo/dinavac-1.jpg" alt="manicotto 1" />
                    <img class="img-fluid" src="assets/img/photo/dinavac-3.jpg" alt="manicotto 2" />
                    <img class="img-fluid" src="assets/img/photo/dinavac-2.jpg" alt="manicotto 3" />
                    <img class="img-fluid" src="assets/img/photo/dinavac-4.jpg" alt="manicotto 4" />
                    <img class="img-fluid" src="assets/img/photo/dinavac-5.jpg" alt="manicotto 5" />
                </div>
            </div>
        </div>
    </section>
</div>
