<div class="container-fluid container-home">
    <div class="row text-justify home-bg-box">
        <div class="slider-home">
            <img src="assets/img/photo/home-cilindri-1.jpg" alt="" />
            <img src="assets/img/photo/home-macchinari-1.jpg" alt="" />
            <img src="assets/img/photo/azienda-3.jpg" alt="" />
        </div>
        <div class="col-sm-4 col-1">
            <div class="presentation-box box-cilindri">
                <a href="cilindri-fotoincisi.html"><h2 class="icon-battery-empty icon-rotate"> Cilindri Fotoincisi</h2></a>
                <p>
                    Impreziosire la pelle con ogni differente genere di design con personalizzazioni private e possibilità di ESCLUSIVA.
                </p>
            </div>
        </div>
        <div class="col-sm-4 col-2">
            <div class="presentation-box box-macchinari">
                <a href="nuovo.html"><h2 class="icon-macchinari">Macchinari</h2></a>
                <p>
                    Attraverso il rapporto collaborativo con i nostri costruttori siamo in continua evoluzione
                    e sempre alla ricerca di nuove tecnologie per soddisfare ogni esigenza e richiesta del Cliente,
                    con macchinari di ultima generazione che garantiscono e facilitano un risultato migliore sul pellame.
                </p>
            </div>
        </div>
        <div class="col-sm-4 col-3">
            <div class="presentation-box box-ricambio">
                <a href="pezzi-di-ricambio.html"><h2 class="icon-wrench "> Pezzi di ricambio</h2></a>
                <p>
                    Grazie alla nostra esperienza possiamo garantire un servizio di supporto tecnico efficiente,
                    potendo fornire pezzi di ricambio e accessoristica varia di ogni genere.
                </p>
            </div>
        </div>
    </div>
</div>
