<div class="container">
    <section class="white-bkg">
        <div class="row ">
            <div class="col-xs-12">
                <div class="text-container">
                    <h1 class="title-product">Gomma naturale e sintetica</h1>
                    <p>
                        La nostra azienda dispone di una vasta gamma di articoli di gomma utilizzata nel settore della conceria.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="white-bkg">
        <div class="row">
            <div class="col-sm-7">
                <div class="text-container">
                    <h3 class="title-small">CARBO ROSSA</h3>
                    <p>
                        Gomma in rotoli per effettuare tappeti per palissone<br>
                        Gomma in rotoli per effettuare lastre utilizzate per lo stampaggio delle pelli in modo da poter proteggere il feltro e per creare effetti di stampa particolari.
                    </p>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="specs-wrap specs-wrap-top">
                    <div class="specs-head">
                        Spessori disponibili
                    </div>
                    <div class="spec">
                        2,5mm
                    </div>
                    <div class="spec">
                        Antistatica
                    </div>
                    <div class="specs-head">
                        Larghezze disponibili
                    </div>
                    <div class="spec">
                        1600mm, 2000mm
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div class="slider-auto  slider-margin25">
                    <img class="img-fluid" src="assets/img/photo/gomma-rossa-1.jpg" alt="gomma rossa 1" />
                    <img class="img-fluid" src="assets/img/photo/gomma-rossa-2.jpg" alt="feltro bianco 2" />
                </div>
            </div>
        </div>
    </section>
    <section class="white-bkg">
        <div class="row">
            <div class="col-sm-7">
                <div class="text-container">
                    <h3 class="title-small">CARBO GIASA</h3>
                    <p>
                        Per le presse a piatto che stampano le pelli utilizziamo varie tipologie di gomma,
                        sia naturale che sintetica. Disponibile in varie mescole ed in vari spessori,
                        a seconda del tipo di pellame da lavorare, dal disegno della piastra, secondo le esigenze del Cliente.
                        Tra queste abbiamo la lastra Carboten originale antistatica, anticalore ed anti solvente, resistente a temperature e pressioni elevate.
                    </p>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="specs-wrap specs-wrap-top">
                    <div class="specs-head">
                        Spessori disponibili
                    </div>
                    <div class="spec">
                        1,5mm, 2mm
                    </div>
                    <div class="spec">
                        3mm, 4mm
                    </div>
                    <div class="specs-head">
                        Larghezze disponibili
                    </div>
                    <div class="spec">
                        1550mm, 1800mm
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="slider-auto  slider-margin25">
                    <img class="img-fluid" src="assets/img/photo/gomma-nera-1.jpg" alt="gomma nera 1" />
                    <img class="img-fluid" src="assets/img/photo/gomma-nera-2.jpg" alt="gomma nera 2" />
                </div>
            </div>
        </div>
    </section>
    <section class="white-bkg">
        <div class="row">
            <div class="col-sm-7">
                <div class="text-container">
                    <h3 class="title-small">PARA ANTICALORE</h3>
                    <p>

                    </p>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="specs-wrap specs-wrap-top">
                    <div class="specs-head">
                        Spessori disponibili
                    </div>
                    <div class="spec">
                        2mm
                    </div>
                    <div class="specs-head">
                        Larghezze disponibili
                    </div>
                    <div class="spec">
                        1550mm
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="slider-auto  slider-margin25">
                    <img class="img-fluid" src="assets/img/photo/gomma-nera-3.jpg" alt="gomma nera 3" />
                    <img class="img-fluid" src="assets/img/photo/gomma-nera-4.jpg" alt="gomma nera 4" />
                </div>
            </div>
        </div>
    </section>
    <section class="white-bkg">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-container">
                    <h3 class="title-small">MOBIL 2 ROSSA</h3>
                    <p>
                        Utilizzata per pulire carta smeriglio; consente quindi di utilizzare meno taglio di carta smeriglio.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="slider-auto  slider-margin25">
                </div>
            </div>
        </div>
    </section>
</div>
