<footer class="footer">
  <div class="container-fluid">
    <div class="row top-footer">
      <div class="col-md-3 sitemap"></div>
      <div class="col-md-6 dati-legali">
        <p>
          <strong>Grosso Antonio</strong>
          <br>
          SERIVIZI E TECNOLOGIE PER L'INDUSTRIA CONCIARIA
        </p>
        <p>
          Via del Salice, 6/8 - Zona Ind. Macrolotto <br>
          56022 Castelfranco di Sotto (PI) - Tel. (+39) 0571 486090 (r.a.)<br>
          {% comment %} e-mail: info@grossoantonio.it grossoantonio2.0srl@grossoantonio.it {% endcomment %}
          <a
            class="email-link"
            href="mailto: info@grossoantonio.it"
            target="_blank">info@grossoantonio.it</a><br>
          <a
            class="email-link"
            href="mailto: grossoantonio2.0srl@grossoantonio.it"
            target="_blank">grossoantonio2.0srl@grossoantonio.it</a>
        </p>
      </div>
      <div class="col-md-3 masai-col"></div>
    </div>
    <div class="row bottom-footer">
      <div class="col-sm-6">
        <div class="copy">Copyright © 2024 Grosso Antonio</div>
      </div>
      <div class="col-sm-6">
        <div class="madebymasai">
          <a href="https://filippomasoni.com/">Made by Filippo Masoni</a>
        </div>
      </div>
    </div>
  </div>

</footer>