<div class="container-fluid container-header">

  <header class="home-header">
    <div class="header-logo-double d-flex justify-content-center">
      <div class="logo-container">
        <a href="index.html">
          <img
            class="logo"
            src="/assets/img/grosso-antonio-logo.svg"
            alt="Grosso Antonio logo">
        </a>
      </div>
      <div class="logo-container">
        <a href="index.html">
          <img
            class="logo"
            src="/assets/img/grosso-antonio-2-logo.svg"
            alt="Grosso Antonio 2.0 logo">
        </a>
      </div>
    </div>
  </header>

</div>