<div class="container-fluid container-header">
    <div class="row">
        <div class="col-xs-12">
            <header class="home-header">

                    <div id="header-logo">
                        <a href="index.html">
                        <img src="assets/img/GrossoAntonio_horizontal.svg">
                        <h4 class="header-sub"><strong>SERVIZI E TECNOLOGIE PER L'INDUSTRIA CONCIARIA</strong></h4>
                        </a>
                    </div>

            </header>
        </div>
    </div>
</div>
