<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>
  {% if page.title %}
    {{ page.title }}
  {% else %}
    {{ site.title }}{% endif %}
</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.title }} | {{ site.title }} {% endif %}" />

  <!-- Disable tap highlight on IE -->
<meta name="msapplication-tap-highlight" content="no" />

<link
  rel="icon"
  type="image/png"
  href="/assets/img/favicon/favicon-48x48.png"
  sizes="48x48" />
<link
  rel="icon"
  type="image/svg+xml"
  href="/assets/img/favicon/favicon.svg" />
<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/assets/img/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Grosso Antonio" />
<link rel="manifest" href="/assets/img/favicon/manifest.json" />

<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&display=swap"
  rel="stylesheet"
  type="text/css" />
<link rel="stylesheet" href="/assets/css/main.css?v2.0.4" />