<nav>
    <ul>
        {% for link in site.nav %}
            <li>
                <a href="{{ site.url }}{{ link.url }}" class="{% if page.url contains link.url %} active-nav {% endif %}">{{ link.title }}</a>
            {% if link.sub-nav %}
                <ul class="sub-nav">
                    {% for link-sub in link.sub-nav %}
                        <li><a href="{{ site.url }}{{ link-sub.url }}" class="{% if page.url contains link-sub.url %} active-nav {% endif %}">{{ link-sub.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
