<nav>
    <div class="lang-toggle">
        <a class="lang-link {% if page.url contains "/en/" %} not-active-lang {% endif %}" href="{{ site.url }}{{ page.url | remove: "/en" }}"><img src="/assets/img/Flag_of_Italy.svg" alt="Italian" />IT</a>
        <a class="lang-link {% unless page.url contains "/en/" %} not-active-lang {% endunless %}" href="{{ site.url }}{% unless page.url contains "/en/" %}/en{% endunless %}{{ page.url }}"><img src="/assets/img/Flag_of_the_United_Kingdom.svg" alt="English" />EN</a>
    </div>
    <ul>
        {% unless page.url contains "/en/" %}
            {% for link in site.nav %}
                <li>
                    <a href="{% unless link.sub-nav %} {{ site.url }} {% endunless %}{{ link.url }}" class="{% if page.url contains link.url %} active-nav {% endif %}">{{ link.title }}</a>
                {% if link.sub-nav %}
                    <ul class="sub-nav">
                        {% for link-sub in link.sub-nav %}
                            <li><a href="{{ site.url }}{{ link-sub.url }}" class="{% if page.url contains link-sub.url %} active-nav {% endif %}">{{ link-sub.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </li>
            {% endfor %}
        {% endunless %}
        {% if page.url contains "/en/" %}
            {% for link in site.nav_en %}
                <li>
                    <a href="{{ site.url }}{{ link.url }}" class="{% if page.url contains link.url %} active-nav {% endif %}">{{ link.title }}</a>
                {% if link.sub-nav %}
                    <ul class="sub-nav">
                        {% for link-sub in link.sub-nav %}
                            <li><a href="{{ site.url }}{{ link-sub.url }}" class="{% if page.url contains link-sub.url %} active-nav {% endif %}">{{ link-sub.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</nav>
