<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="azienda.html">Azienda</a></li>
        <li><a href="azienda2.html">Azienda 2</a></li>
        <li><a href="cilindri-fotoincisi.html">Cilindri Fotoincisi</a></li>
        <li><a href="catalogo-cilindri.html">Catalogo Cilindri</a></li>
        <li><a href="carta-smeriglio.html">Carta Smeriglio</a></li>
        <li>
            <a href="#">Prodotti</a>
            <ul class="sub-nav">
                <li><a href="gomme.html">Gomme</a></li>
                <li><a href="feltri.html">Feltri</a></li>
                <li><a href="manicotto-tamponatrici.html">Manicotto per tamponatrici</a></li>
                <li><a href="tappeto-dinavac.html">Tappeto per Dinavac</a></li>
                <li><a href="pedane-di-sollevamento.html">Pedane di Sollevamento</a></li>
            </ul>
        </li>
        <li><a href="pezzi-di-ricambio.html">Pezzi di Ricambio</a></li>
        <li><a href="nuovo.html">Macchinari Nuovi</a></li>
        <li><a href="usato.html">Macchinari Usati</a></li>
        <li><a href="contatti.html">Contatti</a></li>
    </ul>
</nav>
