<div class="fixed-right hidden-sm-down">
    <h5 class="title-small">Official Suppliers</h5>
    <div class="box">
        <a href="http://www.mosconispa.it/" target="_blank">
            <div class="logo-box">
                <figure>
                    <img class="img-fluid" src="/assets/img/logos/logo_mosconi.png" alt="logo mosconi" />
                    <figcaption>Mosconi spa</figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="box">
        <a href="http://www.wegaitalia.com/" target="_blank">
            <div class="logo-box">
                <figure>
                    <img class="img-fluid" src="/assets/img/logos/logo_wega.png" alt="logo wega" />
                    <figcaption>Wega srl</figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="box">
        <a href="http://www.mm-meggiolaro.it/" target="_blank">
            <div class="logo-box">
                <figure>
                    <img class="img-fluid" src="/assets/img/logos/logo_mm.png" alt="logo meggiolano"/>
                    <figcaption>OFFICINA MECCANICA M.M.</figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="box">
        <a href="http://www.aletti-italia.com/" target="_blank">
            <div class="logo-box">
                <figure>
                    <img class="img-fluid" src="/assets/img/logos/logo_aletti.png" alt="logo aletti" />
                    <figcaption>ALETTI GIOVANNI E FIGLI SRL</figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="box">
        <a href="http://www.baggiotecnologie.com/" target="_blank">
            <div class="logo-box">
                <figure>
                    <img class="img-fluid" src="/assets/img/logos/logo_baggio.png" alt="logo baggio" />
                    <figcaption>Baggio</figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="box">
        <a href="http://www.new3p.it/" target="_blank">
            <div class="logo-box">
                <figure>
                    <img class="img-fluid" src="/assets/img/logos/log_new3p.png" alt="logo new3p" />
                    <figcaption>New 3P</figcaption>
                </figure>
            </div>
        </a>
    </div>
</div>
