{% assign table = site.data.carte %}
{% if page.url contains "/en/" %}
  {% assign table = site.data.carte_en %}
{% endif %}

<div class="table-responsive m-3">
  <table class="table table-striped">

    {% for row in table %}
      {% if forloop.first %}
        <thead>
          <tr>
            {% for item in row %}
              <th scope="col">{{ item[0] }}</th>
            {% endfor %}
          </tr>
        </thead>
      {% endif %}

      {% tablerow item in row %}
        {{ item[1] }}
      {% endtablerow %}
    {% endfor %}
  </table>
</div>