.lang-toggle{
    width: 150px;
    height: 40px;
    a.lang-link{
        display: inline-block;
        font-size: 19px;
        line-height: 18px;
        margin: 0;
        padding: 0;
        &:first-child{
            margin-right: 25px;
        }

        img{
            width: auto;
            height: 18px;
            margin-right: 5px;
            display: inline-block;
            vertical-align: bottom;
        }
        &.not-active-lang{
            filter: grayscale(70%);
        }
    }

}
