@include media-breakpoint-down(md) {
  .table-responsive {
    overflow-x: scroll;
  }
}


table.table {
  tbody {
    font-size: .875rem;
    font-weight: 200;

    small {
      font-size: .75rem;
      font-weight: 300;
    }
  }

  td.col1 {
    font-weight: 400;
  }

  th {
    text-wrap: nowrap;
  }

  td.col2,
  td.col3 {
    text-wrap: nowrap;
  }
}