---
layout: default-logo-vecchio
---

<div class="container">
  <section class="white-bkg text-center section-pad-lr">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-container">
          <h1 class="title-product">{{ page.h1 }}</h1>
          {{ content }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="http://www.mosconispa.it/" target="_blank">
          <div class="logo-box">
            <figure>
              <img
                class="img-fluid"
                src="/assets/img/logos/logo_mosconi.png"
                alt="logo mosconi" />
              <figcaption>Mosconi spa</figcaption>
            </figure>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="http://www.wegaitalia.com/" target="_blank">
          <div class="logo-box">
            <figure>
              <img
                class="img-fluid"
                src="/assets/img/logos/logo_wega.png"
                alt="logo wega" />
              <figcaption>Wega srl</figcaption>
            </figure>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="http://www.mm-meggiolaro.it/" target="_blank">
          <div class="logo-box">
            <figure>
              <img
                class="img-fluid"
                src="/assets/img/logos/logo_mm.png"
                alt="logo meggiolano" />
              <figcaption>OFFICINA MECCANICA M.M.</figcaption>
            </figure>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="http://www.aletti-italia.com/" target="_blank">
          <div class="logo-box">
            <figure>
              <img
                class="img-fluid"
                src="/assets/img/logos/logo_aletti.png"
                alt="logo aletti" />
              <figcaption>ALETTI GIOVANNI E FIGLI SRL</figcaption>
            </figure>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="http://www.baggiotecnologie.com/" target="_blank">
          <div class="logo-box">
            <figure>
              <img
                class="img-fluid"
                src="/assets/img/logos/logo_baggio.png"
                alt="logo baggio" />
              <figcaption>Baggio</figcaption>
            </figure>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="https://www.evolution-tech.it" target="_blank">
          <div class="logo-box">
            <figure>
              <img
                class="img-fluid"
                src="/assets/img/logos/logo-evolution-tech.png"
                alt="logo evolution-tech" />
              <figcaption>Evolution Tech</figcaption>
            </figure>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="https://www.revomec.com/" target="_blank">
          <div class="logo-box">
            <figure>
              <img
                class="img-fluid"
                src="/assets/img/logos/revomec_logo.png"
                alt="logo revomec" />
              <figcaption>Revomec</figcaption>
            </figure>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="https://www.dmsinternational.it/" target="_blank">
          <div class="logo-box">
            <figure>
              <img
                class="img-fluid"
                src="/assets/img/logos/dms-logo.png"
                alt="logo DMS International" />
              <figcaption>DMS International</figcaption>
            </figure>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="https://www.todescosrl.com/" target="_blank">
          <div class="logo-box">
            <figure>
              <img
                class="img-fluid"
                src="/assets/img/logos/todesco-logo.png"
                alt="logo todesco" />
              <figcaption>todesco</figcaption>
            </figure>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>