---
layout: google-maps-api
---
<div class="container-fluid map-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="full-screen-map" id="map"></div>
    </div>
  </div>
</div>
<div class="container contacts-wrap">
  <div class="row justify-content-between mb-4">
    <div class="col-sm-6 col-md-5">
      <img
        class="logo mb-4"
        src="/assets/img/grosso-antonio-logo.svg"
        alt="Grosso Antonio logo">
      <p class="icon-envelope-o ms-2">
        <a class="email-link" href="mailto: info@grossoantonio.it">info@grossoantonio.it</a><br>
      </p>
    </div>
    <div class="col-sm-6 col-md-5">
      <img
        class="logo"
        src="/assets/img/grosso-antonio-2-logo.svg"
        alt="Grosso Antonio 2.0 logo">
      <p class="icon-envelope-o ms-2">
        <a class="email-link" href="mailto: grossoantonio2.0srl@grossoantonio.it">grossoantonio2.0srl@grossoantonio.it</a>
      </p>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-sm-6 col-md-5 text-sm-left text-xs-center">
      <h1 class="title-small m-b-2">{{ page.contacts }}
        <span class="icon-notebook"></span>
      </h1>
      <p class="icon-phone">
        Tel. (+39) 0571 486090 (r.a.)
      </p>
      <p class="icon-print">
        Fax (+39) 0571 471335
      </p>
    </div>
    <div class="col-sm-6 col-md-5 text-sm-right text-xs-center">
      <h1 class="title-small m-b-2 icon-map">{{ page.address }}</h1>
      <p class="">
        Via del Salice, 6/8 <br>
        Zona Ind. Macrolotto <br>
        56022 Castelfranco di Sotto <br>
        Pisa, Italy <br>
      </p>
    </div>
  </div>
</div>