---
layout: default
---

{% include banner-cta.html %}

<div class="container">
  <section class="white-bkg">
    <div class="row ">
      <div class="col-sm-12">
        <div class="text-container">
          <h1 class="title-product">{{ page.h1 }}</h1>
          {{ content }}
          <h2 class="m-5 text-uppercase text-primary text-center fw-bolder">{{ page.h2 }}</h2>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="container-fluid container-cards">
  <div class="row">
    {% for item in page.magazzino %}
      <div class="col-ul-4  col-md-6 col-sm-12">

        <div class="card">
          <div class="overlay-container position-relative">
            <div class="slider-auto">
              {% for img in item.img %}
                <img
                  class="card-img-top img-fluid"
                  src="/assets/img/usato/{{ img }}"
                  alt="{{ img | replace: '-', ' ' | remove: ".jpg" | remove: ".png" }}" />
              {% endfor %}
            </div>
            {% if item.overlay %}
              <div class="overlay-sold overlay-centered text-uppercase">{{ item.overlay }}</div>
            {% endif %}
          </div>
          <div class="card-block">
            <h4 class="card-title">{{ item.title }}</h4>
            {{ item.description }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>