<!DOCTYPE html>
<html lang="it">
    <head>

        {% include head.html %}

    </head>

    <body>

        <!--[if lt IE 9]>
        <div id="warning">
        <a href="#" class="closeThis">✕</a>
        <div class="warningContent">
          <span>!</span>
          <h5 class="wHeading">update your browser</h5>
          <p>Your browser is <strong>ancient</strong>! <a href="http://browsehappy.com/" target="_blank" >Upgrade</a> to a different browser to view this website usign moder technology</p>
        </div>
        </div>
        <![endif]-->

        <!-- NAVIGATION -->
        {% include nav-mobile.html %}
        {% include nav-desktop.html %}



        <!-- MAIN CONTAINER -->
        <div class="container-fluid" id="main-container">

            <!-- HEADER -->
            {% include header.html %}


                    {{ content }}


        </div>

        <!-- FOOTER -->
        {% include footer.html %}

        <!-- Custom JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="/assets/js/functions.min.js" type="text/javascript"></script>

    </body>
</html>
